@import url(color.css);
@import url(font.css);

body{
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-principal);
}

.container{
    width: 90%;
    margin: auto;
}

.card{
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
} 

.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 2rem;
}

.card__container__assinatura__titulo{
    text-align: center;
}

.card__container__assinatura__imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__preco_combo{
    width: 80%;
}

.card__btn{
    display: grid;
    grid-template-columns: 2fr;
    text-align: center;
    border-radius: .75rem;
    gap: 16px;
}

.card__btn{
    padding: 15px 0 15px 0;
    width: 100%;
    text-decoration: none;
    color: var(--branco);
}

.btn1{
    background-color: var(--color-btn1);
}

.btn2{
    border: solid 2px var(--branco);
}

.card__container__assinatura__paragrafo{
    text-align: center;
}

/*            Conteudo                      */

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.apresentacao__plataformas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plataformas__text{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

.plataformas__img{
    width: 80%;
}

.apresentacao__linguas{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
}

.linguas__text{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

.linguas__text__btn{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--color-btn1);
    width: 40%;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    text-align: center;
}

.text__paragrafo{
    color: var(--color-text-secundário);
}

.apresentacao__cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cursos__text{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

.apresentacao__dispositivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.dispositivos__text{
    font-size: 1.5rem;
    text-align: center;
}

.dispositivos__container__cards{
    text-align: center;
}

.rodape{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.rodape__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 90%;
    margin: auto;
}

.rodape__conteudo__img{
    width: 30%;
}

.rodape__conteudo__links{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.rodape__conteudo__links__text{
    text-decoration: none;
    color: var(--branco);
}

.rodape__conteudo__paragrafo{
    text-align: center;
    color: var(--color-text-secundário);
}

/*            Responsividade            */

@media screen and (min-width: 768px) {
    
    .container{
        background-image: url("../images/Background.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    } 

    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: auto;

    }
    
    .card__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5em 15em 15em 10em;
        margin: 0;
    }

    .card__assinatura__container{
        margin-top: 10rem;
        padding: 20px;
    }

    .apresentacao__plataformas{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16rem;
    }

    .apresentacao__linguas{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16rem;
    }

    .apresentacao__cursos{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16rem;
    }

    .subtitulo{
        font-size: 3rem;
    }

    .dispositivos__container{
        display: flex;
    }

    .plataformas__img{
        width: 50%;
    }

    .dispositivos__text{
        font-size: 3rem;
    }

    .rodape__conteudo__img{
        width: 5%;
    }

}